{% extends '../base.html' %} {% block content %} {% load static %}

<section class="container-fluid ">
  <div id="texto" class="d-flex justify-content-center align-items-center flex-column p-5">
    <h1><strong>AUTORES</strong></h1>
    {% for autor in autores %}
    <div class="d-flex gap-3 mt- mb-3 p-3 card-autor">
      <figure class="mb-0">
        <img src={% static autor.foto %} alt="foto de {{autor.nome}}">
      </figure>
      <div class="">
        <h5><strong>{{autor.nome}}</strong></h5>
        <p>{{autor.funcao}}</p>
        <p><a href="">LINK</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
</section >
{% endblock %}