{% extends '../base.html' %} {% block content %} {% load static %}

<section class="container-fluid ">
  <div id="texto" class="d-flex justify-content-center align-items-center flex-column p-5 pb-3">
    <h1><strong>FICHA TÉCNICA E REFERÊNCIAS</strong></h1>
    
    <div class="d-flex flex-column gap-3 mt-4 mb-3 p-3 card-autor">
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0">
          UNIVERSIDADE
        </p>
        <i class="bi bi-building fs-4"></i>
      </div>
      
      <p class="mb-0"><strong>AUTORA DO GLOSSÁRIO</strong> TATIANE MENDES FERREIRA</p>
      <p class="mb-0"><strong>CRIAÇÃO DO SITE </strong> NATHALIA MARIANO LOPES</p>
      <p class="mb-0"><strong>PROGRAMAÇÃO VISUAL E DIAGRAMAÇÃO</strong> NOME</p>
      <p class="mb-0">PRODUZIDO </p>
    </div>   
  </div>

  <div id="texto" class="d-flex justify-content-center align-items-center flex-column p-5 pt-0">
    <h1><strong>REFERÊNCIAS</strong></h1>
    
    <div class="d-flex flex-column gap-2 mt-4 mb-3 p-3 card-autor">
      <div class="d-flex justify-content-between gap-2">
        <div class="d-flex gap-2 align-items-center" > 
          <p class="ano p-1 pe-2 ps-2 ">2022</p>
          <p>ALMEIDA, M.J.</p>
        </div>
        <div>
          <i class="bi bi-book fs-4"></i>
        </div>
      </div>
        
      <p>
        GLOSSÁRIO SISTÊMICO DE TERMOS FORMULADOS POR ELEMENTOS CRIATIVOS PARA O USO EDUCATIVO
      </p>
      
      <p>
        REVISTA EDUCACIONAL, VOL. 15, P. 120-200
      </p>
    </div>   
  </div>
</section >


{% endblock %}