<section class="container-fluid p-5 footer ">
  <div class="row">
    <div class="col-6">
      <h1><strong><a href="#">GLOSSÁRIO</a> </strong></h1>
      <p>&copy; TODOS OS DIREITOS RESERVADOS</p>
    </div>
    <div class="col-6">
      <ul class="g-2 list-unstyled">
        <li class="mb-2 "><a href=""><i class="bi bi-pencil-fill"></i> ABREVIATURAS E SÍMBOLOS</a></li>
        <li class="mb-2"><i class="bi bi-journal-text"></i> <a href="{% url 'ficha_tecnica' %}">FICHA TÉCNICA E REFERÊNCIAS</a></li>
        <li><i class="bi bi-person-fill"></i> <a href="{% url 'autores' %}">AUTORES</a></li>
      </ul>
    </div>
  </div>
</section>
